# History

## {{ version }} ({{ "%Y-%m-%d" | strftime }})

* Initial release of {{ project_name }}.
* First working version with basic functionality.

{%- if has_cli %}
* Command-line interface using {{ command_line_interface }}.
{%- endif %}