--8<-- [start:authors]
# Authors

This file lists the contributors to {{ project_name }}.

## Development Lead

* {{ full_name }} <{{ email }}>

## Contributors

None yet. Why not be the first?
--8<-- [end:authors]
