---
name: Bug Report
about: Create a report to help us improve {{ project_name }}
title: ''
labels: bug
assignees: ''
---

## Bug Report

**{{ project_name }} version:** 
**Python version:** 
**Operating System:** 

### Description

Describe what you were trying to get done.
Tell us what happened, what went wrong, and what you expected to happen.

### Steps to Reproduce

1. 
2. 
3. 

### Expected Behavior

Tell us what should happen.

### Actual Behavior

Tell us what actually happens.

### Code Sample

```python
# Paste your code here
```

### Error Output

```
Paste the command(s) you ran and the output.
If there was a crash, please include the traceback here.
```

### Additional Context

Add any other context about the problem here.
