title: Community
nav:
  - FAQ: faq.md
  - Troubleshooting: troubleshooting.md
  - Contributing: contributing.md
{%- if create_author_file %}
  - Authors: authors.md
{%- endif %}
  - History: history.md
