# Page configuration for 'mkdocs-awesome-pages-plugin'
nav:
  - Home:
      - index.md
      - Getting started:
          - Installation: installation.md
          - Usage: usage.md
      - Modules: modules.md
  - FAQ: faq.md
  - Troubleshooting: troubleshooting.md
  - Contributing: contributing.md
{%- if create_author_file %}
  - Authors: authors.md
{%- endif %}
  - History: history.md
