# Page configuration for 'mkdocs-awesome-pages-plugin'
nav:
  - Home: index.md
  - Getting Started: getting-started
  - Tutorials: tutorials
  - Examples: examples
  - User Guides: guides
  - Concepts: concepts
  - Advanced Topics: advanced
  - API Reference: api
  - Community: community
