"""Console script for {{ package_import_name }}."""

{%- if command_line_interface|lower == 'argparse' %}
import argparse
{%- endif %}
import sys

{%- if command_line_interface|lower == 'click' %}
import click
{%- endif %}
{%- if command_line_interface|lower == 'typer' %}
import typer
{%- endif %}

{%- if command_line_interface|lower == 'click' %}


@click.command()
def main(args=None):
    """Console script for {{ package_import_name }}."""
    click.echo("Replace this message by putting your code into "
               "{{ package_import_name }}.cli.main")
    click.echo("See click documentation at https://click.palletsprojects.com/")
    return 0


{%- elif command_line_interface|lower == 'typer' %}


app = typer.Typer(
    help="{{ project_name }} CLI",
    add_completion=False,
    no_args_is_help=True,
)


@app.command()
def hello() -> None:
    """Console script for {{ package_import_name }}."""
    typer.echo("Replace this message by putting your code into "
               "{{ package_import_name }}.cli")
    typer.echo("See Typer documentation at https://typer.tiangolo.com/")


{%- elif command_line_interface|lower == 'argparse' %}


def main():
    """Console script for {{ package_import_name }}."""
    parser = argparse.ArgumentParser()
    parser.add_argument('_', nargs='*')
    args = parser.parse_args()

    print("Arguments: " + str(args._))
    print("Replace this message by putting your code into "
          "{{ package_import_name }}.cli.main")
    return 0


{%- endif %}

if __name__ == "__main__":
{%- if command_line_interface|lower == 'typer' %}
    app()
{%- else %}
    sys.exit(main())  # pragma: no cover
{%- endif %}
